<!--MAIN-->
<div class="main">
  <!--MAIN-container-->
  <div class="container">
    <h2>Formulario de reserva</h2>
    <form class="example-form" [formGroup]="formRegistro">
      <label for="nombre">Nombre</label>
    <br>
      <input matInput placeholder="Ingrese el nombre" value="" formControlName="nombre_completo" class="cajas">
      <br>

      <label for="telefono">Teléfono</label>
    <br>
      <input matInput placeholder="Telefono" value="" formControlName="telefono" class="cajas">
    <br>
      
      <label for="llegada">Fecha y hora de llegada</label>
    <br>
      <input type="datetime-local" value="" formControlName="diaLlegada" class="cajas">
      <br>
   
      <label for="estadia">Días de permanencia</label>
    <br>
      <input matInput placeholder="Cantidad de dias" value="" formControlName="diasEstancia" class="cajas">
    <br>
     
     <br>
     <button mat-raised-button color="primary" style="width: 30%; height:40px" (click)="addRegistro()">Registrar</button>
</form>
  </div>
</div>